@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: spaceGrotesk;
  src: url("../assets/fonts/static/SpaceGrotesk-Regular.ttf");
}

* {
  font-family: spaceGrotesk;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #182925;
}

h2 {
  @apply text-[32px];
}

img {
  @apply max-w-full block;
}

input {
  @apply outline outline-none text-white;
}

.btn {
  @apply bg-[#ffffff4d] border border-[0.5] border-[#d0d0d0] p-3 text-[#fff] text-base;
}

input {
  @apply p-3 border border-[0.5] border-[#d0d0d0] placeholder:text-[#fff] bg-transparent;
}

.heroBackground {
  background-image: url("../assets/svgs/icons/saphir-bg.svg");
  background-size: cover;
  background-position: center;
}

.navList li {
  @apply font-bold cursor-pointer;
}
